<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>991088660367-r4tqc16vi5q1ullp7ginqjugphi9hcjb.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.991088660367-r4tqc16vi5q1ullp7ginqjugphi9hcjb</string>
	<key>API_KEY</key>
	<string>AIzaSyBDyVWnMLvXduVuAB7WmTBMYShZb38kwQw</string>
	<key>GCM_SENDER_ID</key>
	<string>991088660367</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.kimpi.lfgg</string>
	<key>PROJECT_ID</key>
	<string>ios-firestore-4177f</string>
	<key>STORAGE_BUCKET</key>
	<string>ios-firestore-4177f.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:991088660367:ios:7dba87bbdc6952e59785fa</string>
</dict>
</plist>